# My Jupyter Notebook on IBM Data Science Experience

**Arpit**  
 Project Manager

*I am interested in data science because of its application in machine learing and advance analytics. I would like to gain skills in this area so that I can contribute in field of predictive analytics*

### Below code will import the panda module. 
### Csv data from the url is read and imported into pandas dataframe
### Display first 5 rows using  head method.

In [14]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv")
df.head()

    Country  Region
0   Algeria  AFRICA
1    Angola  AFRICA
2     Benin  AFRICA
3  Botswana  AFRICA
4   Burkina  AFRICA


 
horizontal rule
 
---

Numbered List

    1. Item 1
    2. Item 2
    3. Item 3

[Google Search Page](https://www.google.com)

Image

![alt text](https://cdn.computerworlduk.com/cmsdata/slideshow/3585847/ibm_watson_by_clockready_thumb1200_16-9.png "IBM Watson")